
body {
background-color: rgba(123, 139, 65, 0.459);
font-size: 27px; 
text-align: center;
}
h1{
    font-size: 34px;
    text-align: center;
      }
      .textoGrande{
        font-size: 21px;
        font-weight: bold;
      }
      .contenedor {
        background-color: rgb(197, 159, 88);
        color: blanchedalmond;
      }
      .contenedor h1 {text-decoration: underline;
        color: rgb(180, 121, 214);
        font-size: 30px;}
    
    .imagenen img{
      margin-left: 20px;
      margin-top: 50px;
      width: 250px;
      height: 250px;
    }